/* Testing palette color and typography overrides */
.single-biocanomia,
.post-type-biocanomia {
    --theme-palette-color-1: #1e75b5;
    --theme-palette-color-2: #185b8b;
    --theme-palette-color-3: #4f4e51;
    --theme-palette-color-4: #31621e;
    --theme-palette-color-5: #dbdbdb;
    --theme-palette-color-6: #f5f4f6;
    --theme-palette-color-7: #ffffff;
    --theme-palette-color-8: #ffffff;
    --theme-palette-color-9: #1e1e1e;
    --theme-palette-color-10: #76add9;
    --theme-palette-color-11: #06384a;
    --theme-palette-color-12: #213c18;
    --theme-palette-color-13: #47821f;
    --theme-palette-color-14: #75ad00;
    --theme-palette-color-15: #5c6223;
    --theme-palette-color-16: #a7a765;
    --theme-palette-color-17: #c5c79d;
    --theme-palette-color-18: #dfeaba;
    --theme-palette-color-19: #492814;
    --theme-palette-color-20: #703903;
    --theme-palette-color-21: #9b5d2e;
    --theme-palette-color-22: #c9aa7d;
    --theme-palette-color-23: #890108;
    --theme-palette-color-24: #d10015;
    --theme-palette-color-25: #f70000;
    --theme-palette-color-26: #d25211;
    --theme-palette-color-27: #fb4c00;
    --theme-palette-color-28: #ff8b00;
    --theme-palette-color-29: #f7a700;
    --theme-palette-color-30: #eeb900;
    --theme-text-color: var(--theme-palette-color-3);
    --theme-link-initial-color: var(--theme-palette-color-13);
    --theme-link-hover-color: var(--theme-palette-color-12);
    --theme-selection-text-color: #ffffff;
    --theme-selection-background-color: var(--theme-palette-color-1);
    --theme-border-color: var(--theme-palette-color-5);
    --theme-headings-color: var(--theme-palette-color-4);
    --theme-heading-1-color: var(--theme-palette-color-9);
    --theme-heading-5-color: var(--theme-palette-color-13);
    --theme-heading-6-color: var(--theme-palette-color-13);
    --wp--preset--color--palette-color-1: var(--theme-palette-color-1);
    --wp--preset--color--palette-color-2: var(--theme-palette-color-2);
    --wp--preset--color--palette-color-3: var(--theme-palette-color-3);
    --wp--preset--color--palette-color-4: var(--theme-palette-color-4);
    --wp--preset--color--palette-color-5: var(--theme-palette-color-5);
    --wp--preset--color--palette-color-6: var(--theme-palette-color-6);
    --wp--preset--color--palette-color-7: var(--theme-palette-color-7);
    --wp--preset--color--palette-color-8: var(--theme-palette-color-8);
    --wp--preset--color--palette-color-9: var(--theme-palette-color-9);
    --wp--preset--color--palette-color-10: var(--theme-palette-color-10);
    --wp--preset--color--palette-color-11: var(--theme-palette-color-11);
    --wp--preset--color--palette-color-12: var(--theme-palette-color-12);
    --wp--preset--color--palette-color-13: var(--theme-palette-color-13);
    --wp--preset--color--palette-color-14: var(--theme-palette-color-14);
    --wp--preset--color--palette-color-15: var(--theme-palette-color-15);
    --wp--preset--color--palette-color-16: var(--theme-palette-color-16);
    --wp--preset--color--palette-color-17: var(--theme-palette-color-17);
    --wp--preset--color--palette-color-18: var(--theme-palette-color-18);
    --wp--preset--color--palette-color-19: var(--theme-palette-color-19);
    --wp--preset--color--palette-color-20: var(--theme-palette-color-20);
    --wp--preset--color--palette-color-21: var(--theme-palette-color-21);
    --wp--preset--color--palette-color-22: var(--theme-palette-color-22);
    --wp--preset--color--palette-color-23: var(--theme-palette-color-23);
    --wp--preset--color--palette-color-24: var(--theme-palette-color-24);
    --wp--preset--color--palette-color-25: var(--theme-palette-color-25);
    --wp--preset--color--palette-color-26: var(--theme-palette-color-26);
    --wp--preset--color--palette-color-27: var(--theme-palette-color-27);
    --wp--preset--color--palette-color-28: var(--theme-palette-color-28);
    --wp--preset--color--palette-color-29: var(--theme-palette-color-29);
    --wp--preset--color--palette-color-30: var(--theme-palette-color-30);
}
.single-biocanomia .site-main,
.post-type-biocanomia .editor-styles-wrapper {
    --theme-heading-1-color: var(--wp--preset--color--palette-color-12);
    --theme-heading-2-color: var(--wp--preset--color--palette-color-4);
    --theme-heading-3-color: var(--wp--preset--color--palette-color-4);
    --theme-heading-4-color: var(--wp--preset--color--palette-color-4);
    --theme-heading-5-color: var(--wp--preset--color--palette-color-13);
    --theme-heading-6-color: var(--wp--preset--color--palette-color-13);
    --theme-font-family: 'neo-sans', sans-serif;
    font-family: var(--theme-font-family);
}

/* Classes das cores de background para paletas que não existem nas configurações do tema */
.single-biocanomia .has-palette-color-19-background-color {
    background-color: var(--wp--preset--color--palette-color-19) !important;
}
.single-biocanomia .has-palette-color-20-background-color {
    background-color: var(--wp--preset--color--palette-color-20) !important;
}
.single-biocanomia .has-palette-color-21-background-color {
    background-color: var(--wp--preset--color--palette-color-21) !important;
}
.single-biocanomia .has-palette-color-22-background-color {
    background-color: var(--wp--preset--color--palette-color-22) !important;
}
.single-biocanomia .has-palette-color-23-background-color {
    background-color: var(--wp--preset--color--palette-color-23) !important;
}
.single-biocanomia .has-palette-color-24-background-color {
    background-color: var(--wp--preset--color--palette-color-24) !important;
}
.single-biocanomia .has-palette-color-25-background-color {
    background-color: var(--wp--preset--color--palette-color-25) !important;
}
.single-biocanomia .has-palette-color-26-background-color {
    background-color: var(--wp--preset--color--palette-color-26) !important;
}
.single-biocanomia .has-palette-color-27-background-color {
    background-color: var(--wp--preset--color--palette-color-27) !important;
}
.single-biocanomia .has-palette-color-28-background-color {
    background-color: var(--wp--preset--color--palette-color-28) !important;
}
.single-biocanomia .has-palette-color-29-background-color {
    background-color: var(--wp--preset--color--palette-color-29) !important;
}
.single-biocanomia .has-palette-color-30-background-color {
    background-color: var(--wp--preset--color--palette-color-30) !important;
}
/* Classes das cores de texto para paletas que não existem nas configurações do tema */
.single-biocanomia .has-palette-color-19-color {
    color: var(--wp--preset--color--palette-color-19) !important;
}
.single-biocanomia .has-palette-color-20-color {
    color: var(--wp--preset--color--palette-color-20) !important;
}
.single-biocanomia .has-palette-color-21-color {
    color: var(--wp--preset--color--palette-color-21) !important;
}
.single-biocanomia .has-palette-color-22-color {
    color: var(--wp--preset--color--palette-color-22) !important;
}
.single-biocanomia .has-palette-color-23-color {
    color: var(--wp--preset--color--palette-color-23) !important;
}
.single-biocanomia .has-palette-color-24-color {
    color: var(--wp--preset--color--palette-color-24) !important;
}
.single-biocanomia .has-palette-color-25-color {
    color: var(--wp--preset--color--palette-color-25) !important;
}
.single-biocanomia .has-palette-color-26-color {
    color: var(--wp--preset--color--palette-color-26) !important;
}
.single-biocanomia .has-palette-color-27-color {
    color: var(--wp--preset--color--palette-color-27) !important;
}
.single-biocanomia .has-palette-color-28-color {
    color: var(--wp--preset--color--palette-color-28) !important;
}
.single-biocanomia .has-palette-color-29-color {
    color: var(--wp--preset--color--palette-color-29) !important;
}
.single-biocanomia .has-palette-color-30-color {
    color: var(--wp--preset--color--palette-color-30) !important;
}
/* Classes das cores de borda para paletas que não existem nas configurações do tema */
.single-biocanomia .has-palette-color-19-border-color {
    border-color: var(--wp--preset--color--palette-color-19) !important;
}
.single-biocanomia .has-palette-color-20-border-color {
    border-color: var(--wp--preset--color--palette-color-20) !important;
}
.single-biocanomia .has-palette-color-21-border-color {
    border-color: var(--wp--preset--color--palette-color-21) !important;
}
.single-biocanomia .has-palette-color-22-border-color {
    border-color: var(--wp--preset--color--palette-color-22) !important;
}
.single-biocanomia .has-palette-color-23-border-color {
    border-color: var(--wp--preset--color--palette-color-23) !important;
}
.single-biocanomia .has-palette-color-24-border-color {
    border-color: var(--wp--preset--color--palette-color-24) !important;
}
.single-biocanomia .has-palette-color-25-border-color {
    border-color: var(--wp--preset--color--palette-color-25) !important;
}
.single-biocanomia .has-palette-color-26-border-color {
    border-color: var(--wp--preset--color--palette-color-26) !important;
}
.single-biocanomia .has-palette-color-27-border-color {
    border-color: var(--wp--preset--color--palette-color-27) !important;
}
.single-biocanomia .has-palette-color-28-border-color {
    border-color: var(--wp--preset--color--palette-color-28) !important;
}
.single-biocanomia .has-palette-color-29-border-color {
    border-color: var(--wp--preset--color--palette-color-29) !important;
}
.single-biocanomia .has-palette-color-30-border-color {
    border-color: var(--wp--preset--color--palette-color-30) !important;
}

/* Tipografia das tags de cabeçalho */
.post-type-biocanomia .editor-styles-wrapper h1,
.single-biocanomia h1 {
    --theme-font-size: clamp(2.625rem, 2.7778rem + -0.4444vw, 2.5rem);
    --theme-font-weight: 400;
}
.post-type-biocanomia .editor-styles-wrapper h2,
.single-biocanomia h2 {
    --theme-font-size: clamp(2.5rem, 2.8056rem + -0.8889vw, 2.25rem);
    --theme-font-weight: 500;
}
.post-type-biocanomia .editor-styles-wrapper h3,
.single-biocanomia h3 {
    --theme-font-size: clamp(2rem, 1.7708rem + 0.6667vw, 2.1875rem);
    --theme-font-weight: 400;
}
.post-type-biocanomia .editor-styles-wrapper h4,
.single-biocanomia h4 {
    --theme-font-size: clamp(1.625rem, 1.3194rem + 0.8889vw, 1.875rem);
    --theme-font-weight: 700;
}
.post-type-biocanomia .editor-styles-wrapper h5,
.single-biocanomia h5 {
    --theme-font-size: clamp(1.3125rem, 1.0069rem + 0.8889vw, 1.5625rem);
    --theme-font-weight: 700;
}
.post-type-biocanomia .editor-styles-wrapper h6,
.single-biocanomia h6 {
    --theme-font-size: clamp(1.125rem, 0.9722rem + 0.4444vw, 1.25rem);
    --theme-font-weight: 900;
}

.single-biocanomia .sl-pl-back-linear-left div {
    background: linear-gradient(
        90deg,
        var(--theme-palette-color-17),
        var(--theme-palette-color-17) 50%,
        var(--theme-palette-color-18) 50%,
        var(--theme-palette-color-18)
    ) !important;
}